<% if service.interpretation_services.present? %>
  <section class="interpretation-services">
    <h1>
      <%= t('service_fields.interpretation_services') %>
    </h1>
    <span>
      <%= service.interpretation_services %>
    </span>
  </section>
<% end %>
