<header id="content-header">
  <h1 id="logo">
    <a href="/" target="_self">
      <% #%img{ src: asset_path(SETTINGS[:site_logo]), alt: "#{SETTINGS[:site_title]} Logo" } %>
      Radical Health
    </a>
  </h1>
  <h2>
    <%= t('branding.header', location: t('branding.location')) %>
  </h2>
  <nav>
    <ul>
      <li>
        <a class="popup-trigger popup-default" href="/about#about-box" id="about-btn">
          About
        </a>
      </li>
      <li>
        <a class="popup-trigger popup-feedback" href="/about#feedback-box" id="feedback-btn" target="_self">
          Feedback
        </a>
      </li>
    </ul>
  </nav>
  <div class="clearfix"></div>
</header>
<% # Hide popups on /about because they are redundant to the content on that page. %>
<% if controller_name != 'about' %>
  <aside id="popups">
    <div class="popup-container hide">
      <div class="arrow">
        <span></span>
      </div>
      <%= render 'component/about/about' %>
    </div>
    <div class="popup-container hide">
      <div class="arrow">
        <span></span>
      </div>
      <%= render 'component/about/feedback' %>
    </div>
  </aside>
<% end %>
