<% title '' %>
<section id="search-container">
  <section class="search-utilities" id="search-top-utilities">
    <%= render 'component/search/languages' %>
  </section>
  <%= render 'component/search/box' %>
  <section class="search-utilities" id="search-bottom-utilities"></section>
</section>
<%= render 'homepage_links' %>
